// --------------------------------------------
// For grid specific mixins, see layout/grid
// ---------------------------------------------

.body-font-regular() {
  font-family: @body-font-family;
  font-weight: @font-regular;
}

.body-font-bold() {
  font-family: @body-font-family;
  font-weight: @font-bold;
}