// ---------------------------------
// Site wide variables
// ---------------------------------

// Typography
@body-font-family: 'Poppins', helvetica, sans-serif;
@font-light: 300;
@font-regular: 400;
@font-bold: 700;

// Colors
@brand-color: #93C4D3;
@brand-secondary-color: #6552a2;
@brand-tertiary-color: #32004a;
@brand-background-color: #f0f0f0;
@brand-secondary-background-color: #fff;
@brand-tertiary-background-color: #32004a;
@brand-body-text-color: #484848;
@brand-body-text-on-light-color: #cbace0;
@brand-body-text-on-dark-color: #fff;
@brand-footer-text: #7478d8;
@brand-highlight-color: #c653ff;

// Breakpoints
@breakpoint-small-desktop: 960px;
@breakpoint-tablet: 768px;
@breakpoint-phone: 480px;
@small-desktop: ~"only screen and (max-width: @{breakpoint-small-desktop})";
@tablet: ~"only screen and (max-width: @{breakpoint-tablet})";
@phone: ~"only screen and (max-width: @{breakpoint-phone})";