// ---------------------------------
// Site wide variables
// ---------------------------------

// Typography
@body-font-family: 'Poppins', helvetica, sans-serif;
@font-light: 300;
@font-regular: 400;
@font-bold: 700;

// Colors
@brand-color: #93C4D3;
@brand-secondary-color: #59899e;
@brand-tertiary-color: #415055;
@brand-background-color: #f0f0f0;
@brand-secondary-background-color: #fff;
@brand-tertiary-background-color: #192739;
@brand-body-text-color: #484848;
@brand-body-text-on-light-color: #bed6de;
@brand-body-text-on-dark-color: #fff;
@brand-footer-text: #327c92;
@brand-highlight-color: #78d0e9;